
@media (min-width:768px) {

    header {
        padding: 0 5rem !important;
    }

    ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    main {
        display: flex;
        justify-content: center;

        div {
            max-width: 30rem;
            width: 30rem;
        }

        ul {
            flex-wrap: unset!important;

            li {
                justify-content: normal;
                gap: 1rem;

                button {
                    margin-left: 10rem;
                }
            }
        }
    }

    main .productlist{
        flex-wrap: wrap !important;

        li button{
            margin-left: 0px;
        }
    }

    main .cartlist{
        flex-wrap: unset !important;
    }

}

@media (min-width:1024px) {
    header {
        padding: 0 2.7rem !important;
    }

    main ul {
        flex-wrap: wrap;
    }

}