.headingOne{
    font-weight: bold;
    font-size: 1.625rem;
}

.headingTwo{
    font-weight: bold;
    font-size: 1.375rem;    
}

.headingThree{
    font-weight: bold;
    font-size: 1.125rem;
}

.headline{
    font-weight: 400;
    font-size: 1rem;    
}

.body{
    font-weight: 400;
    font-size: 0.875rem;    
}

.body600{
    font-weight: 600;
    font-size: 1rem;    
}

.caption{
    font-weight: 400;
    font-size: 0.75rem;    
}